/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: Avenir, sans-serif !default;


// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #6D1E4A !default;
$selection-bg: rgba(0, 0, 0, 0.99);
$sidebar-bg: #6D1E4A  !default;
$sidebar-fg: #fff !default;

